.loginback {
    background-image: url(image/orange\ gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login {
    background-color: white;
    margin-top: 10%;
    padding-top: 5%;
    border: 1px solid grey;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(36, 36, 36, 0.574);
}

.header {
    margin-bottom: 10%;
}

.login input {
    border-top: none;
    border-right: none;
    border-left: none;
}

.login .subbtn {
    background-image: url(image/orange\ gradient.png);
    box-shadow: 5px 5px 5px rgba(36, 36, 36, 0.574);
    width: 60%;
    border-radius: 40px;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
}